form action="/todo/#{@result['id']}/update" method="post"
    input type="text" value="#{@result['name']}" name="name"
    input type="text" value="#{@result['description']}" name="description"
    input type="submit" value="Uppdatera"